h1 {
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
	border: 3px solid white;
	border-radius: 10px;
	font-family: didot;
}

body {
	color: white;
	background-color: #3f5f63;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: didot;
}

form {
	background-color: black;
	padding: 10px;
	margin: auto;
	border: 3px solid white;
	border-radius: 10px;
}

button {
    background-color: #6e888f;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    height: 60px;
    width: 300px;
    border: 3px solid white;
    border-radius: 10px;
    font-family: didot;
}